In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../datasets/house_prices/train.csv')

In [19]:
len(df)

1460

In [4]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [26]:
features_with_nans = df.columns[df.isnull().any()].tolist()

In [27]:
df[features_with_nans].isnull().sum()

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [28]:
features = df.columns
non_features = ['LotFrontage',
 'Alley',
 'MasVnrType',
 'FireplaceQu',
 'PoolQC',
 'Fence',
 'MiscFeature']

features_imp = list(set(features) - set(features_with_nans))

In [29]:
df_less = df[features_imp].copy()

In [30]:
df_less.head()

,3SsnPorch,BsmtFullBath,LandSlope,Exterior1st,OpenPorchSF,2ndFlrSF,HalfBath,OverallQual,OverallCond,LotArea,...,ExterCond,ExterQual,Functional,Street,LowQualFinSF,GarageArea,SaleCondition,GarageCars,RoofMatl,Id
0,0,1,Gtl,VinylSd,61,854,1,7,5,8450,...,TA,Gd,Typ,Pave,0,548,Normal,2,CompShg,1
1,0,0,Gtl,MetalSd,0,0,0,6,8,9600,...,TA,TA,Typ,Pave,0,460,Normal,2,CompShg,2
2,0,1,Gtl,VinylSd,42,866,1,7,5,11250,...,TA,Gd,Typ,Pave,0,608,Normal,2,CompShg,3
3,0,1,Gtl,Wd Sdng,35,756,0,7,5,9550,...,TA,TA,Typ,Pave,0,642,Abnorml,3,CompShg,4
4,0,1,Gtl,VinylSd,84,1053,1,8,5,14260,...,TA,Gd,Typ,Pave,0,836,Normal,3,CompShg,5

In [38]:
features_catehdf_less.select_dtypes(include=['object']).columns

Index([u'LandSlope', u'Exterior1st', u'HouseStyle', u'Foundation',
       u'LotConfig', u'HeatingQC', u'RoofStyle', u'CentralAir', u'Utilities',
       u'LotShape', u'Condition1', u'Condition2', u'PavedDrive', u'BldgType',
       u'SaleType', u'MSZoning', u'Exterior2nd', u'Heating', u'KitchenQual',
       u'LandContour', u'Neighborhood', u'ExterCond', u'ExterQual',
       u'Functional', u'Street', u'SaleCondition', u'RoofMatl'],
      dtype='object')