In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./datasets/balance_scale/balance_scale_data.csv', 
                 names=['balance', 'var1', 'var2', 'var3', 'var4'])

In [5]:
df['balance'].unique()

array(['B', 'R', 'L'], dtype=object)

In [6]:
df.head()

  balance  var1  var2  var3  var4
0       B     1     1     1     1
1       R     1     1     1     2
2       R     1     1     1     3
3       R     1     1     1     4
4       R     1     1     1     5

In [7]:
df['balance'].value_counts()

L    288
R    288
B     49
Name: balance, dtype: int64

In [8]:
# Transform into a binary classification problem

df['balance'] = [1 if d == 'B' else 0 for d in df.balance]

In [9]:
df['balance'].value_counts()

0    576
1     49
Name: balance, dtype: int64

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

y = df.balance
X = df.drop('balance', axis=1)

In [16]:
# Classify 

clf = LogisticRegression().fit(X, y)

In [17]:
pred = clf.predict(X)

In [21]:
accuracy_score(pred, y)

0.92159999999999997

In [23]:
# High accuracy but only one class is being predicted

print(np.unique(pred))

[0]