In [21]:
import pandas as pd
import io

In [22]:
entries = [{'A': 1, 'B': 2}, {'A': 10, 'B': 20}]
df = pd.DataFrame(entries, index=[1, 2])

In [23]:
df.head()

    A   B
1   1   2
2  10  20

In [24]:
df.index

Int64Index([1, 2], dtype='int64')

In [25]:
arr = [[1, 2, 3, 4], ['a', 'b', 'a', 'd']]
tup = list(zip(*arr))

In [26]:
tup

[(1, 'a'), (2, 'b'), (3, 'a'), (4, 'd')]

In [27]:
idx = pd.MultiIndex.from_tuples(tup, names=['num', 'char'])

In [28]:
idx

MultiIndex(levels=[[1, 2, 3, 4], ['a', 'b', 'd']],
           labels=[[0, 1, 2, 3], [0, 1, 0, 2]],
           names=['num', 'char'])

In [31]:
data = io.StringIO('''Fruit,Color,Count,Price
Apple,Red,3,$1.29
Apple,Green,9,$0.99
Pear,Red,25,$2.59
Pear,Green,26,$2.79
Lime,Green,99,$0.39
''')
df_unindexed = pd.read_csv(data)
df_unindexed

   Fruit  Color  Count  Price
0  Apple    Red      3  $1.29
1  Apple  Green      9  $0.99
2   Pear    Red     25  $2.59
3   Pear  Green     26  $2.79
4   Lime  Green     99  $0.39

In [33]:
df_indexed = df_unindexed.set_index(['Fruit', 'Color'])

In [34]:
df_unindexed

   Fruit  Color  Count  Price
0  Apple    Red      3  $1.29
1  Apple  Green      9  $0.99
2   Pear    Red     25  $2.59
3   Pear  Green     26  $2.79
4   Lime  Green     99  $0.39

In [35]:
df_indexed

             Count  Price
Fruit Color
Apple Red        3  $1.29
      Green      9  $0.99
Pear  Red       25  $2.59
      Green     26  $2.79
Lime  Green     99  $0.39

In [61]:
df_indexed.xs('Apple')

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99

In [79]:
df_indexed.xs('Red', level='Color')

       Count  Price
Fruit
Apple      3  $1.29
Pear      25  $2.59

In [60]:
df_indexed.loc[('Apple')]

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99

In [62]:
df_indexed.loc[('Apple', 'Green')]

Count        9
Price    $0.99
Name: (Apple, Green), dtype: object

In [77]:
df_indexed.index

MultiIndex(levels=[['Apple', 'Lime', 'Pear'], ['Green', 'Red']],
           labels=[[0, 0, 2, 2, 1], [1, 0, 1, 0, 0]],
           names=['Fruit', 'Color'])

In [78]:
df_indexed.index.labels

FrozenList([[0, 0, 2, 2, 1], [1, 0, 1, 0, 0]])

In [84]:
df_indexed.sort_index(level='Color')

             Count  Price
Fruit Color
Apple Green      9  $0.99
Lime  Green     99  $0.39
Pear  Green     26  $2.79
Apple Red        3  $1.29
Pear  Red       25  $2.59

In [87]:
df_indexed.loc[[pd.IndexSlice[:, 'Red']]

SyntaxError: unexpected EOF while parsing (<ipython-input-87-ab7f388300c0>, line 1)